<html>

<head>

    <title>Contact - The Word Game</title>
   
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/application.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   <!--  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylish-portfolio.css">
    <script src="dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/dist/sweetalert.css">
 
    <!-- Custom Fonts -->
    
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Game Over</h1>
            <h3>Congratulations - You Guessed the Word Master's Word!</h3>
            <button type="button" id="restart" class="btn btn-dark btn-lg">Ready For A New Game?</button>      
        </div>
    </header>

</body>

</html>
