<table class="table table-striped resultTable ">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
	<tr>
		<td>
			<%= obj.name %>
		</td>
		<td>
			<%= obj.email %>
		</td>
		<td>
			<%= obj.password %>
		</td>
	</tr>
</table>
